.body{
  background-color: #96e4b3;
  overflow:hidden;
}

.water{
    height:10vh;
    position: relative;
    display:inline;
    overflow:hidden;
}

#water1{
  z-index: 0;
  -webkit-animation: water1 8s linear infinite;
  animation: water1 8s linear infinite;
  overflow:hidden;
}

#water2{
  -webkit-animation: water2 8s linear infinite;
  animation: water2 8s linear infinite;
  z-index: -1;
}

#water3{
  -webkit-animation: water3 8s linear infinite;
  animation: water3 8s linear infinite;
    position:absolute;
  z-index: -2;
}

#wave{
  position:relative;
  height:100vh;
  max-height:100vh;
  overflow:hidden;
}

.rise{
    -webkit-animation: riseup 2s linear;
    animation: riseup 2s linear;
}

svg {
  height:150px;
}

div.water-depth{
  position:absolute;
  background-color:rgba(47, 157, 166);
  top:120px;
  height:110%;
  width:100%;
  overflow:hidden;
}

@-webkit-keyframes water1{
  0% {left:-720px; top:-20px;}
  25% {top:0px;}
  50%{top:-20px;}
  75%{top:0px;}
  100% {left:0px; top:-20px;}
}

@keyframes water1{
  0% {transform: translateX(180px) translateX(0px);}
  25% {transform: translateX(360px) translateY(-20px);}
  50%{transform: translateX(540px) translateY(0px);}
  75%{transform: translateX(720px) translateY(-20px);}
  100% {transform: translateX(900px) translateY(0px);}
}

@-webkit-keyframes water2{
  0% {right:0px; top:0px;}
  25% {top:-20px;}
  50%{top:0px;}
  75%{top:-20px;}
  100% {right:720px; top:0px;}
}

@keyframes water2{
  0% {transform: translateX(-180px) translateY(0px);}
  25% {transform: translateX(-360px) translateY(-20px);}
  50%{transform: translateX(-540px) translateY(0px);}
  75%{transform: translateX(-720px) translateY(-20px);}
  100% {transform: translateX(-900px) translateY(0px);}
}

@-webkit-keyframes water3{
  0% {left:-720px; top:-20px;}
  25% {top:0px;}
  50%{top:-20px;}
  75%{top:0px;}
  100% {left:0px; top:-20px;}
}

@keyframes water3{
  0% {transform: translateX(90px) translateX(0px);}
  25% {transform: translateX(180px) translateY(-20px);}
  50%{transform: translateX(270px) translateY(0px);}
  75%{transform: translateX(360px) translateY(-20px);}
  100% {transform: translateX(450px) translateY(0px);}
}


#timerbox{
  top:150px;
  position:absolute;
  display:inline;
}

.fill{
  background:rgb(15,55,42,0.3);
  z-index:1;
  height:100px;
  width: 100px;
}

div .border2{
    display: inline-block;
    border: 5px solid #72cbd8;
    border-radius: 5px;
    color: white;
}

.flex{
  display:flex;
  width:100%;
  justify-content: center;
  align-items:start;
    flex-direction:column;
}

div p{
    margin-bottom: 0px;
    padding: 0px;
}

nav{
  position:relative;
}

.middle1{
    height: 100px;
}

nav div div.middle2{
    height: 50px;
    position: relative;
}

nav div div.middle2 div button{
    position: relative;
    font-size: calc(5px + 1.5vw);
    min-height: 5px;
    min-width:15px;
    justify-content: center;
    z-index: 3;

}


body{
    padding-top:10px
}
ol {
    padding: 5px 10px 5px 25px;
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
    min-width: 200px;
}

/*Goals List*/
li input{
    line-height:30px;
    font-size: calc(5px + 1vw);
    margin: 5px;
    padding:0px 5px;
    background: rgb(255,255,255,0.2);
    border: none;
    border-radius: 5px;
    color: white;
}

td {
    padding:5px;
}


#ticker {
    display: flex;
    position: absolute;
    bottom:10px;
    font-size: calc(5px + 4vw);
    justify-content:center;
    padding-left:5px;
    padding-right: 5px;
    white-space: nowrap;
}


.cbox{
    margin:1px;
    left:0px;
    background: rgb(255,255,255,0.2);
    /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

div.session_box{
  vertical-align:top;
    padding:5px;
    display:inline-block;
    box-sizing: content-box;
    overflow:auto;
}

div.session_box p, div.session_box h4{
  margin-bottom: 0px;
  justify-content: center;
  display: flex;
}

div.time_box, div.border2{
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    overflow: auto;
    position:relative;
    width: 200px;
    left:50%;
    margin-left: -100px;
}

div input.time_adjust {
    display:inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin: 5px 0px;
    opacity: 0.96;
}

div.time_box p {
    display: inline-block;
    position:relative;
    margin-bottom: 0px;
    text-align: right;
    float:right;
}
